@media screen and (min-width: 240px) and (max-width: 768px){
	body {
		padding: 0;
		margin: 0 auto;
	}
	.container-fluid{
		margin: 0 !important;
		padding: 2% 0 !important;
	}
	.portfolio {
		overflow: hidden;
	}
	.sidebar {
		border-right: 3px solid grey;
		border-left: 3px solid grey;
	}
	
	.sidebar-btn {
		width: 100%;
		font-size: 11pt;
		font-weight: bold;
		padding-top: 13px;
		color: white;
		text-align: center;
		display: block;
		height: 44px;
	}
	.sidebar-btn:hover {
		opacity: 0.8;
		color: white;
	}
	.sidebar-btn:first-child {
		margin: 0;
	}
	.btn-portfolio {
		background-image: url(../img/btn-portfolio-mob.png);
	}
	.btn-portfolio:hover {
		background-image: url(../img/btn-portfolio-mob.png);
	}
	.btn-contact {
		background-image: url(../img/btn-contact-mob.png);
	}
	.btn-contact:hover {
		background-image: url(../img/btn-contact-mob.png);
	}

	.btn-about:hover {
		background-image: url(../img/btn-about-mob.png);
	}
	.btn-about {
		background-image: url(../img/btn-about-mob.png);
	}
	.head_text {
		font-size: 13pt;
	}
}

@media screen and (min-width: 769px) and (max-width: 992px){
	body {
		padding: 5%;
	}
	.content {
		padding: none;
	}
	.portfolio {
		overflow: hidden;
	}
	.sidebar {
		border-right: 3px solid grey;
		border-left: 3px solid grey;
	}
	.sidebar-btn {
		font-size: 11pt;
		font-weight: bold;
		padding-top: 13px;
		color: white;
		text-align: center;
		display: inline-block;
		width: 33.33%;
		height: 44px;
	}
	.sidebar-btn:hover {
		opacity: 0.8;
		color: white;
	}
	.sidebar-btn:first-child {
		margin: 0;
	}
	.btn-portfolio {
		float: left;
		background-image: url(../img/btn-portfolio-mob.png);
	}
	.btn-portfolio:hover {
		background-image: url(../img/btn-portfolio-mob.png);
	}
	.btn-contact {
		background-image: url(../img/btn-contact-mob.png);
	}
	.btn-contact:hover {
		background-image: url(../img/btn-contact-mob.png);
	}
	.btn-about {
		background-image: url(../img/btn-about-mob.png);
	}
	.btn-about:hover {
		background-image: url(../img/btn-about-mob.png);
	}
}
@media screen and (min-width: 993px) and (max-width: 1201px){
	body {
		padding: 5%;
	}
	
	.sidebar {
		overflow: hidden;
		float:  right !important;
		display: inline-block;
	}
	.content {
		vertical-align: middle;
		display: inline-block;
		min-height: 900px;
	}
	.portfolio {
		overflow: hidden;
	}
	.sidebar-btn:first-child {
		margin: 0;
	}
	.sidebar-btn {
		width: 33.33%;
		height: 80px;
		display: inline-block;

		padding: 30px 10px;
		border-radius:25px 25px 0 0;
		-webkit-border-radius:25px 25px 0 0;
		-o-border-radius:25px 25px 0 0;
		-ms-border-radius:25px 25px 0 0;
		border-left: 3px solid grey;
		border-right: 3px solid grey;
		border-top: 3px solid grey;

		font-size: 12pt;
		font-weight: bold;
		color: white;
		text-align: center;
	}
	
	.sidebar-btn:hover {
		opacity: 0.8;
		color: white;
	}
	.btn-portfolio {
		float: left;
		background-image: url(../img/btn-portfolio-mob.png);
	}
	.btn-portfolio:hover {
		background-image: url(../img/btn-portfolio-mob.png);
	}
	.btn-contact {
		background-image: url(../img/btn-contact-mob.png);
	}
	.btn-contact:hover {
		background-image: url(../img/btn-contact-mob.png);
	}
	.btn-about {
		background-image: url(../img/btn-about-mob.png);
	}
	.btn-about:hover {
		background-image: url(../img/btn-about-mob.png);
	}
}

@media screen and (min-width: 1202px) {
	body {
		padding: 5%;					
	}
	.portfolio {
		overflow: hidden;
	}
	
	.sidebar-btn {
		text-align: left;
		padding-top: 20px;
		font-size: 11pt;
		font-weight: bold;
		color: white;
		height: 54px;
		display: inline-block;
		float: right !important;
	}

	.sidebar-btn:hover{
		opacity: 0.8;
		color: white;
	}
	.btn-portfolio {
		background-image: url(../img/portfolio-btn.png);
	}
	
	.btn-about {
		background-image: url(../img/home-btn.png);
	}
	
	.btn-contact {
		background-image: url(../img/contact-btn.png);
	}
	
	
}
