html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body:before {
	content: " ";
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: -1;
    background-image: url(../img/big-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.box {
	box-sizing: border-box;
}
.porfolio_icon-link,
.sidebar-btn {
	transition: 1s ease-in-out;
}
.porfolio_icon-link:hover{
	opacity: 0.5;
	transition: 1.5s easy-in-out;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
/*main*/
.main {
	margin: 30px auto;
	float: none;
	overflow: hidden;
}
/*sidebar*/
.sidebar {
	padding: 0;
	overflow: hidden;
}

.sidebar-btn:hover{
	opacity: 0.8;
	color: white;
}

/*content*/
.content {
	display: block;
}
.content-text {
	color: rgb(57,57,57);
}

/*head*/
.head {
	height: 80px;
	padding: 20px;
	background: url(../img/head-bg.png) no-repeat; 
	background-size: 100% 100%;
	border-radius:25px 25px 0 0;
	border-left: 3px solid grey;
	border-right: 3px solid grey;
	border-top: 3px solid grey;
}
.head-box {
	vertical-align: top;
	margin-left: 20px;
	display: inline-block;
}
.head-photo{
	background: url(../img/im.png) no-repeat;
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
}
.head_text {
	margin: 0;
	text-transform: capitalize;
	font-size: 14pt;
	font-weight: bold;
}

/*portfolio text*/
.avaible {
	float: right;
	margin-right: -28px;
}
.emtpy {
	clear: both;
}
.portfolio {
	background: url(../img/content-bg.png) no-repeat;
	background-size: 100% 100%;
	padding: 0 25px 25px 25px;
	border-radius: 0 0 25px 25px;
	border-left: 3px solid grey;
	border-right: 3px solid grey;
	border-bottom: 3px solid grey;
}
.contact-container{
	overflow: hidden;
	min-height: 200px;
}

.portfolio_head {
	text-transform: capitalize;
	display: inline-block;
}
.portfolio_text {
	font-size: 10pt;
	font-weight: bold;
	color: #343434;
	text-align: justify;
}
.portfolio_text:last-of-type {
	padding-bottom: 20px;
	border-bottom: 1px solid grey;
}
/*icons*/
.porfolio_icon-wrap {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	justify-content: space-around;
}
.porfolio_icon {
	text-align: center;
}
.porfolio_icon-text {
	display: block;
	margin: 10px 0;
	font-size: 10pt;
	font-weight: bold;
}
.porfolio_icon-link {
	display: block;
	width: 100%;
	height: 200px;
	border: 3px solid grey;
	margin-top: 10px;
}
.bg-size {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 100%;
}
.brush {
	background-image: url(../img/icon-brush.png);
	background-size: 100% 100%;
}
.azartplay {
	background-image: url(../img/aza.png);
}
.standart {
	background-image: url(../img/standart.png);
}
.goodwards {
	background-image: url(../img/goodward.png);
}
.empire {
	background-image: url(../img/empire.png);
}
.lifeximity {
	background-image: url(../img/lifextrimy1.png);
}
.massage {
	background-image: url(../img/massage.png);
}
.mobi {
	background-image: url(../img/mobi.png);
}
.pop-up {
	background-image: url(../img/pop-up.png);
}
.artgallery {
	background-image: url(../img/art.png);
}
.zen {
	background-image: url(../img/zen.png);
}
.pool {
	background-image: url(../img/pool.png);
}
.andare {
	background-image: url(../img/andare.png);
}
.adnetworks {
	background-image: url(../img/adnetworks.png);
}

/*page-box*/
.page-box {
	padding: 20px 0;
	text-align: center;
	border-bottom: 1px solid grey;
}
.page {
	margin: 0 3px;
	display: inline-block;
	width: 12px;
	height: 12px;
	background: #9c9c9c;
	border-radius:15px;
}
.page:hover {
	background: #9e9b00;
}
.page:active {
	background: #9e9b00;
}
.page:visited {
	background: white;
}

/*footer*/
.footer{
	text-align: center;
	padding-bottom: 10px;
}

/*about-page*/
.about {
	padding: 0;
	list-style: none;
}
.about:last-of-type {
	padding-bottom: 20px;
	border-bottom: 1px solid grey;
}
.about:first-of-type {
	padding-top: 10px;
	border-top: 1px solid grey;
}