!!!
%html
%head
	%title Prechu
	%link(href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css')
	%link(rel="stylesheet" type="text/css" href="style.css")
	%meta(charset="utf-8")
%body.font
	.container.head.box
		.logo
		%ul.head-nav.box
			%li.head-item
				%a.head-link(href="#" title="home") home
			%li.head-item
				%a.head-link(href="#" title="products") products
			%li.head-item
				%a.head-link(href="#" title="servises") servises
			%li.head-item
				%a.head-link(href="#" title="contact") contact
		%a.head-mob-menu(href="#" title="")
	.big-container.carusel.box
		%button.carusel-button.left-btn
		.carusel-block.box
			.carusel-icon
			.carusel-right
				%p.carusel-text.carusel-bigtext Lorem Ipsum is simply 
				%p.carusel-text.carusel-smalltext dummy text of the
				%p.carusel-text.carusel-smalltext printing & typesetting 
				%button.carusel-btn.box Sing up now
		%button.carusel-button.right-btn
	.big-container
	.zub
		.container.box
			.content
				.content-box.box
					.content-icon.icon1
					.content-wrap
						%a.content-link(href="#" title="Contrary to popular") Contrary to popular
						%p.content-text Lorem ipsum dolor sit amet, consectetuer adipiscing.
			.content
				.content-box.box
					.content-icon.icon2
					.content-wrap
						%a.content-link(href="#" title="Contrary to popular") Contrary to popular
						%p.content-text Lorem ipsum dolor sit amet, consectetuer adipiscing.
			.content
				.content-box.box
					.content-icon.icon3
					.content-wrap
						%a.content-link(href="#" title="Contrary to popular") Contrary to popular
						%p.content-text Lorem ipsum dolor sit amet, consectetuer adipiscing.

	.big-container
		.container.box
			.shop
				%p.shop-text The shopping cart
				.shop-icon
			.shop
				%h3.shop-description-text Some Bullet text here
				%p.shop-smalltext Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. 


	.footer
		.container
			%a.sprite.youtube(href="https://www.youtube.com/" title="https://www.youtube.com/")
			%a.sprite.twetter(href="https://twitter.com/" title="https://twitter.com/")
			%a.sprite.google(href="https://www.google.com.ua/?hl=ru&gws_rd=ssl" title="https://www.google.com.ua/?hl=ru&gws_rd=ssl")
			%a.sprite.w3(href="http://w3.ua/" title="http://w3.ua/")


			
