%ul.header__menu
	%li.list-item
		%a.header__for-link{href: "", title: "Портфолио"} Портфолио
	%li.list-item
		%a.header__for-link{href: "", title: "Компания"} Компания
	%li.list-item
		%a.header__for-link{href: "", title: "Услуги"} Услуги
	%li.list-item
		%a.header__for-link{href: "", title: "Блог"} Блог
	%li.list-item
		%a.header__for-link{href: "", title: "Знания"} Знания