.shoes
	%img.shoes__photo{src: "img/shoes.png"}
	%a.shoes__link{href: "#"} Комфортная серия
	%span.shoes-text Ортопедические колодки и модный дизайн
	.shoes__price 
		от 
		%strong.shoes__price__bold-price 25 700
		руб.
	.shoes__bue
		%a.bue{href: "#"} Купить

.shoes
	%img.shoes__photo{src: "img/shoes.png"}
	%a.shoes__link{href: "#"} Комфортная серия
	%span.shoes-text Ортопедические колодки и модный дизайн
	.shoes__price 
		от 
		%strong.shoes__price__bold-price 25 700
		руб.
	.shoes__bue
		%a.bue{href: "#"} Купить

.shoes
	%img.shoes__photo{src: "img/shoes.png"}
	%a.shoes__link{href: "#"} Комфортная серия
	%span.shoes-text Ортопедические колодки и модный дизайн
	.shoes__price 
		от 
		%strong.shoes__price__bold-price 25 700
		руб.
	.shoes__bue
		%a.bue{href: "#"} Купить

.shoes
	%img.shoes__photo{src: "img/shoes.png"}
	%a.shoes__link{href: "#"} Комфортная серия
	%span.shoes-text Ортопедические колодки и модный дизайн
	.shoes__price 
		от 
		%strong.shoes__price__bold-price 25 700
		руб.
	.shoes__bue
		%a.bue{href: "#"} Купить

.shoes
	%img.shoes__photo{src: "img/shoes.png"}
	%a.shoes__link{href: "#"} Комфортная серия
	%span.shoes-text Ортопедические колодки и модный дизайн
	.shoes__price 
		от 
		%strong.shoes__price__bold-price 25 700
		руб.
	.shoes__bue
		%a.bue{href: "#"} Купить

.shoes
	%img.shoes__photo{src: "img/shoes.png"}
	%a.shoes__link{href: "#"} Комфортная серия
	%span.shoes-text Ортопедические колодки и модный дизайн
	.shoes__price 
		от  
		%strong.shoes__price__bold-price 25 700
		руб.
	.shoes__bue
		%a.bue{href: ""} Купить